<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MBA (International)</h1>
            <span>University of Portsmouth</span>
            <span><address>Portsmouth, UK</address><time>2009 to 2011</time></span>
        </header>
        <p>
            <em>Analysis of the existing management and business practices and recommending strategic options for immediate
                growth in the 3-5 year period at Taylor Made Training Solution, Fareham, Hampshire, UK. Identifying of potential areas and methods for growth and expansion – Market Opportunity and Attractiveness
                assessments</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor or Technology, Electronics & Communication Engineering</h1>
            <span>Pondicherry Engineering College</span>
            <span><address>Pondicherry, India</address><time>2001 to 2005</time></span>
        </header>
        <p>
            <em>Involved in the team which prepared a paper on “A Link Adaptive Power control Scheme for Wideband CDMA System” selected for the 13th IEEE international conference held at Malaysia.</em>
        </p>
    </article>
</section>
