<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Birthday Mailer Initiative</h1>
            <span><address>Infosys Technologies Limited</address><time>2006</time></span>
        </header>
        <p>
            Started the Birthday Mailer program to increase employee connectivity in Oracle Business Unit, which was later adopted Organization Level. Automated the whole process.
        </p>
    </article>
    <article>
        <header>
            <h1>Organizer, TechnoFest</h1>
            <span><address>Pondicherry Engineering College, Pondicherry, India</address><time>2003, 2004</time></span>
        </header>
        <p>
            Organizer: Organized the technical conference for ECE Department, Pondicherry Engineering College.
        </p>
    </article>
</section>